
p{
	color:$red_bg;
	}
header{	
	background: $gray_bg;
	height: 500px;
	color: red;
	
	h1{
		color: red;
		@include border-radius(10px);
		background:$red_bg;
		@include box-shadow(0, 0, 10px, 10px, rgba(0,0,0, 0.5));
	
		a{color:#dadada; display:block;
			
			&:hover{ text-decoration:underline; background:$red_bg; color:#fff; text-align:center;}
		}
	}
	
}


